{extends file="../Shared/core2.master.html"}
{block name=bodycontent}
  <div class="card">
    <div class="card-header">
      <strong>Standar Pengelolaan - Rencana Pemenuhan Form</strong>
    </div>
    <div class="card-body">
      <form action="{$baseUrl}/standarpengelolaan/saveRencanaPemenuhan" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">No. Indikator</label>
          <div class="col-md-9">
            <input type="text" id="no_indikator" name="no_indikator" class="form-control" placeholder="No. Indikator" value="{$datanya.no_indikator}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Indikator</label>
          <div class="col-md-9">
            <input type="text" id="nama_indikator" name="nama_indikator" class="form-control" placeholder="Nama Indikator" value="{$datanya.nama_indikator}" readonly>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Rekomendasi</label>
            <div class="col-md-9">
              <input type="text" id="rekomendasi" name="rekomendasi" class="form-control" placeholder="Rekomendasi" value="{$datanya.rekomendasi}" readonly>
            </div>
        </div>   
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Program</label>
          <div class="col-md-9">
            <input type="text" id="program" name="program" class="form-control" placeholder="Program" value="{$datanya.program}">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Kegiatan</label>
            <div class="col-md-9">
              <input type="text" id="kegiatan" name="kegiatan" class="form-control" placeholder="Kegiatan" value="{$datanya.kegiatan}">
            </div>
        </div>   
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Volume</label>
            <div class="col-md-9">
              <input type="text" id="volume" name="volume" class="form-control" placeholder="Volume" value="{$datanya.volume}">
            </div>
        </div>     
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Kebutuhan Biaya</label>
            <div class="col-md-9">
              <input type="text" id="kebutuhan_biaya" name="kebutuhan_biaya" class="form-control" placeholder="Kebutuhan Biaya" value="{$datanya.kebutuhan_biaya}">
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Sumber Daya</label>
            <div class="col-md-9">
              <input type="text" id="sumber_daya" name="sumber_daya" class="form-control" placeholder="Sumber Daya" value="{$datanya.sumber_daya}">
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Skala Prioritas</label>
            <div class="col-md-9">
              <div class="checkbox">
                <label for="sk_1">
                  <input type="checkbox" id="sk_1" name="sk_1" value="{$datanya.sk_1}" onchange="setCBBitValue()"> Tahun ke-1
                </label>
              </div>
              <div class="checkbox">
                <label for="sk_2">
                  <input type="checkbox" id="sk_2" name="sk_2" value="{$datanya.sk_2}" onchange="setCBBitValue()"> Tahun ke-2
                </label>
              </div>
              <div class="checkbox">
                <label for="sk_3">
                  <input type="checkbox" id="sk_3" name="sk_3" value="{$datanya.sk_3}" onchange="setCBBitValue()"> Tahun ke-3
                </label>
              </div>
              <div class="checkbox">
                  <label for="sk_4">
                    <input type="checkbox" id="sk_4" name="sk_4" value="{$datanya.sk_4}" onchange="setCBBitValue()"> Tahun ke-4
                  </label>
                </div>
            </div>
          </div>      
        <div class="card-footer">
            <input type="hidden" name="id" value="{$datanya.id}">
            <input type="hidden" name="id_pemetaan" value="{$datanya.id_pemetaan}">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
      </form>
    </div>
                
  </div>

<script type="text/javascript">	

if(document.getElementById("sk_1").value == 1) {
  document.getElementById("sk_1").checked = true;
} 
if(document.getElementById("sk_2").value == 1) {
  document.getElementById("sk_2").checked = true;
} 
if(document.getElementById("sk_3").value == 1) {
  document.getElementById("sk_3").checked = true;
} 
if(document.getElementById("sk_4").value == 1) {
  document.getElementById("sk_4").checked = true;
} 

function setCBBitValue() {
  if (document.getElementById("sk_1").checked) {
    document.getElementById("sk_1").value = 1;
  } else {
    document.getElementById("sk_1").value = 0;
  }
  if (document.getElementById("sk_2").checked) {
    document.getElementById("sk_2").value = 1;
  } else {
    document.getElementById("sk_2").value = 0;
  }
  if (document.getElementById("sk_3").checked) {
    document.getElementById("sk_3").value = 1;
  } else {
    document.getElementById("sk_3").value = 0;
  }
  if (document.getElementById("sk_4").checked) {
    document.getElementById("sk_4").value = 1;
  } else {
    document.getElementById("sk_4").value = 0;
  }
}

</script>
{/block}
              