 {
  "home": {
    "path": "/",
    "controller": "home",
    "action": "dashboard"
  },

  "dashboard": {
    "path": "/dashboard",
    "controller": "home",
    "action": "dashboard"
  },

  "standar_kompetensi_lulusan": {
    "path": "/skl",
    "controller": "standarkompetensilulusan",
    "action": "index"
  },

  "standar_isi": {
    "path": "/isi",
    "controller": "standarisi",
    "action": "index"
  },

  "standar_proses": {
    "path": "/proses",
    "controller": "standarproses",
    "action": "index"
  },

  "standar_penilaian": {
    "path": "/penilaian",
    "controller": "standarpenilaian",
    "action": "index"
  },

  "standar_tendik": {
    "path": "/tendik",
    "controller": "standartendik",
    "action": "index"
  },

  "standar_sapras": {
    "path": "/sapras",
    "controller": "standarsapras",
    "action": "index"
  },

  "standar_pengelolaan": {
    "path": "/pengelolaan",
    "controller": "standarpengelolaan",
    "action": "index"
  },

  "standar_pembiayaan": {
    "path": "/pembiayaan",
    "controller": "standarpembiayaan",
    "action": "index"
  },

  "master_indikator": {
    "path": "/master_indikator",
    "controller": "masterindikator",
    "action": "index"
  },

  "master_guru": {
    "path": "/master_guru",
    "controller": "masterguru",
    "action": "index"
  },

  "master_siswa": {
    "path": "/master_siswa",
    "controller": "mastersiswa",
    "action": "index"
  },

  "master_matpel": {
    "path": "/master_matpel",
    "controller": "mastermatpel",
    "action": "index"
  },

  "master_jabatan": {
    "path": "/master_jabatan",
    "controller": "masterjabatan",
    "action": "index"
  },

  "master_pendidikan": {
    "path": "/master_pendidikan",
    "controller": "masterpendidikanguru",
    "action": "index"
  },

  "master_jurusan": {
    "path": "/master_jurusan",
    "controller": "masterjurusan",
    "action": "index"
  },

  "master_ruangan": {
    "path": "/master_ruangan",
    "controller": "masterruangan",
    "action": "index"
  },

  "master_peralatan": {
    "path": "/master_peralatan",
    "controller": "masterperalatan",
    "action": "index"
  },

  "master_default": {
    "path": "/master_default",
    "controller": "masterdefault",
    "action": "index"
  }
}