{extends file="../Shared/core2.master.html"}
{block name=bodycontent}
  <div class="card">
    <div class="card-header">
      <strong>Standar Sarana dan Prasarana - Penyusunan Strategi Form</strong>
    </div>
    <div class="card-body">
      <form action="{$baseUrl}/standarsapras/saveStrategi" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">No. Indikator</label>
          <div class="col-md-9">
            <input type="text" id="no_indikator" name="no_indikator" class="form-control" placeholder="No. Indikator" value="{$datanya.no_indikator}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Indikator</label>
          <div class="col-md-9">
            <input type="text" id="nama_indikator" name="nama_indikator" class="form-control" placeholder="Nama Indikator" value="{$datanya.nama_indikator}" readonly>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Program</label>
            <div class="col-md-9">
              <input type="text" id="program" name="program" class="form-control" placeholder="Program" value="{$datanya.program}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Kegiatan</label>
            <div class="col-md-9">
              <input type="text" id="kegiatan" name="kegiatan" class="form-control" placeholder="Kegiatan" value="{$datanya.kegiatan}" readonly>
            </div>
        </div>  
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Input</label>
            <div class="col-md-9">
              <input type="text" id="input" name="input" class="form-control" placeholder="Input" value="{$datanya.input}" readonly>
            </div>
        </div>     
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Proses</label>
            <div class="col-md-9">
              <input type="text" id="proses" name="proses" class="form-control" placeholder="Proses" value="{$datanya.proses}" readonly>
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Output</label>
            <div class="col-md-9">
              <input type="text" id="output" name="output" class="form-control" placeholder="Output" value="{$datanya.output}" readonly>
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Outcome</label>
            <div class="col-md-9">
              <input type="text" id="outcome" name="outcome" class="form-control" placeholder="Outcome" value="{$datanya.outcome}" readonly>
            </div>
        </div>   
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Kesimpulan Hasil Monev</label>
            <div class="col-md-9">
              <input type="text" id="kesimpulan" name="kesimpulan" class="form-control" placeholder="Kesimpulan" value="{$datanya.kesimpulan}" readonly>
            </div>
        </div>   
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Penyusunan Strategi</label>
            <div class="col-md-9">
              <input type="text" id="strategi_peningkatan" name="strategi_peningkatan" class="form-control" placeholder="Strategi Peningkatan" value="{$datanya.strategi_peningkatan}">
            </div>
        </div> 
        <div class="card-footer">
            <input type="hidden" name="id" value="{$datanya.id}">
            <input type="hidden" name="id_pemetaan" value="{$datanya.id_pemetaan}">
            <input type="hidden" name="id_rencana" value="{$datanya.id_rencana}">
            <input type="hidden" name="id_rencana" value="{$datanya.id_pelaksanaan}">
            <input type="hidden" name="id_rencana" value="{$datanya.id_monev}">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
      </form>
    </div>
                
  </div>

<script type="text/javascript">	

if(document.getElementById("sk_1").value == 1) {
  document.getElementById("sk_1").checked = true;
} 
if(document.getElementById("sk_2").value == 1) {
  document.getElementById("sk_2").checked = true;
} 
if(document.getElementById("sk_3").value == 1) {
  document.getElementById("sk_3").checked = true;
} 
if(document.getElementById("sk_4").value == 1) {
  document.getElementById("sk_4").checked = true;
} 

function setCBBitValue() {
  if (document.getElementById("sk_1").checked) {
    document.getElementById("sk_1").value = 1;
  } else {
    document.getElementById("sk_1").value = 0;
  }
  if (document.getElementById("sk_2").checked) {
    document.getElementById("sk_2").value = 1;
  } else {
    document.getElementById("sk_2").value = 0;
  }
  if (document.getElementById("sk_3").checked) {
    document.getElementById("sk_3").value = 1;
  } else {
    document.getElementById("sk_3").value = 0;
  }
  if (document.getElementById("sk_4").checked) {
    document.getElementById("sk_4").value = 1;
  } else {
    document.getElementById("sk_4").value = 0;
  }
}

</script>
{/block}
              